body {
  color: white;
}

.user-panel-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-panel-wrap .user-panel-left-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ivu-upload input[type=file] {
  display: none;
}

.ivu-tooltip,
.ivu-tooltip-rel {
  display: inline-block;
}

.upload-preview .mask:hover {
  opacity: 1;
}

.upload-preview .mask,
.upload-preview img {
  width: 180px;
  max-width: 180px;
  max-height: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
}

.upload-preview .mask {
  opacity: 0;
  position: absolute;
  background: rgba(0, 0, 0, .4);
  cursor: pointer;
  transition: opacity .4s;
}

.upload-preview .mask i {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1rem;
  margin-top: -1rem;
  color: #d6d6d6;
}

.ivu-tooltip-popper[x-placement^=bottom] {
  padding: 8px 0 5px 0;
}

.ivu-tooltip-popper {
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.5;
  position: absolute;
  z-index: 1060;
}

.ivu-tooltip-popper[x-placement=bottom] .ivu-tooltip-arrow {
  left: 50%;
  margin-left: -5px;
}

.ivu-tooltip-popper[x-placement^=bottom] .ivu-tooltip-arrow {
  top: 3px;
  border-width: 0 5px 5px;
  border-bottom-color: rgba(70, 76, 91, .9);
}

.ivu-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.ivu-tooltip-inner {
  max-width: 250px;
  min-height: 34px;
  padding: 8px 12px;
  color: #fff;
  text-align: left;
  text-decoration: none;
  background-color: rgba(70, 76, 91, .9);
  border-radius: 4px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  white-space: nowrap;
}

.user-panel-wrap .user-panel-mid-info div {
  margin-bottom: 1rem;
}

.user-panel-mid-info {
  padding-left: 30px;
}

.router-tab-links {
  display: flex;
  width: 100%;
}

.router-tab-links a {
  padding: 1rem .75rem;
  /* font-size: .75rem; */
  font-weight: 700;
  color: #fff;
  position: relative;
}

.user-panel-wrap .user-panel-right {
  margin-left: auto;
  text-align: center;
  color: #fff;
  padding: 0 32px;
}

.user-panel-wrap .user-panel-right span {
  color: #fff;
  display: inline-block;
  line-height: 22px;
  margin-bottom: 12px;
}

.user-panel-wrap .user-panel-right p {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.user-data-wrap {
  margin: 1.25rem 0;
}

.song-list-table-table {
  display: flex;
  justify-content: space-between;
  height: 26px;
  width: 100%;
  padding: 0 10px;
  font-size: 13px;
  color: #b6b6b6;
}

.song-list-table-frame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  font-size: 14px;
  padding: 0 10px;
  border-radius: .6rem;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.group-detail-display {
  display: block;
}

.homevideo {
  background-color: inherit;
}

.clwp {
  display: none;
}