.owned-group-container input {
  display: inline;
  width: 150px;
  font-size: 14px;
}

div#sidebar {
  position: absolute;
  z-index: 12;
}

div#sidebar .sb-right,
div#sidebar .sb-right-sub {
  right: 2em;
}

div#sidebar .sb-left,
div#sidebar .sb-right,
div#sidebar .sb-right-sub {
  position: fixed;
  list-style: none;
  top: 5em;
}

.fab.red {
  background-color: #d23f31;
}

.fab {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .5);
  transition: background-color .2s ease;
  -webkit-transition: background-color .2s ease;
}

.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#sidebar .sb-right-sub li:first-child {
  margin-top: 2px;
}

div#sidebar .sb-right-sub>li {
  margin: 10px auto 0;
}

.fab.fab-image {
  padding: 0!important;
  overflow: hidden!important;
}

.fab.fab-small {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.fab.fab-image img {
  width: 100%;
}

.fab.orange {
  background-color: #ff9800;
}

.fab.blue {
  background-color: #4285f4;
}

.fab.green {
  background-color: #0f9d58;
}

div#sidebar .sb-right-sub {
  top: 9em;
  width: 60px;
}

.sb-right {
  right: 15px !important;
}

.sb-right-sub {
  display: none;
}

.sb-right-sub.active {
  display: block;
}

.fab:hover i {
  transform: rotate(360deg);
}

.homevideo {
  display: none;
}

.sb-right-sub {
  padding: 0;
  padding-left: 2rem
}