.vtuber-pc-bac .vtuber-pc-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  z-index: 2;
}

.vtuber-pc-bac .vtuber-pc-left .vtuber-pic-frame {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  padding-right: 4vh;
  z-index: 1;
}

.vtuber-pc-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21vw;
  width: 21vw;
  border-radius: 1rem;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 22px;
}

.vtuber-pic-tab {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 120px;
  transform: translateX(6vh);
}

.vtuber-pic-tab-div {
  position: relative;
  width: 100%;
}

.vtuber-pic-tab-pane {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  border-radius: 1rem;
  background: linear-gradient(90deg, rgb(255, 79, 22), rgb(247, 120, 80));
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 22px;
  transition: width 0.1s ease 0s;
  color: rgb(255, 255, 255);
  font-size: 16px;
  z-index: 3;
}

.vtuber-pic-tab-pane i {
  margin-right: 5px;
}

.vtuber-pic-frame {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  padding-right: 4vh;
  z-index: 1;
}

.vtuber-tab-second {
  background: linear-gradient(90deg, rgb(255, 79, 22), rgb(247, 120, 80));
  margin-bottom: 0px;
  margin-top: 1rem;
  color: rgb(255, 255, 255);
}

.vtuber-pic-tab-pane {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  border-radius: 1rem;
  background: linear-gradient(90deg, rgb(255, 79, 22), rgb(247, 120, 80));
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 22px;
  transition: width 0.1s ease 0s;
  color: rgb(255, 255, 255);
  font-size: 16px;
  z-index: 3;
}

.vtuber-pc-info {
  height: 160px;
  width: 100%;
  padding: 5vh 4vh 0px 0px;
  color: rgb(255, 255, 255);
}

.vtuber-pc-info-content {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 15px;
  width: 100%;
}

.vtuber-pc-control {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 4vh 0px 0px;
  height: 7.2vh;
  min-height: 58px;
  width: 100%;
  margin-bottom: 4.8vh;
}

.vtuber-ring {
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: rgba(105, 90, 90, 0.26);
  transition: background-color 0.1s ease 0s, box-shadow 0.1s ease 0s, transform 0.2s ease 0s;
  color: rgb(255, 255, 255);
}

.vtuber-ring:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  color: rgb(78, 206, 254);
}

.ring-like i {
  font-size: 18px;
  transform: translateY(1px);
  color: rgb(247, 120, 80) !important;
}

.ring-youtube:hover {
  color: rgb(245, 0, 42);
}

.ivu-poptip-rel {
  position: relative;
  display: inline-block;
}

.ivu-poptip-popper {
  padding: 7px 0 10px 0;
}

.ivu-poptip-arrow {
  left: 50%;
  margin-left: -7px;
}

.ivu-poptip-arrow {
  bottom: 3px;
  border-width: 7px 7px 0;
  border-top-color: hsla(0, 0%, 85.1%, .5);
}

.ivu-poptip-arrow,
.ivu-poptip-arrow:after {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.ivu-poptip-arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -7px;
  border-bottom-width: 0;
  border-top-width: 7px;
  border-top-color: #fff;
}

.ivu-poptip-arrow:after {
  content: "";
  border-width: 7px;
}

.ivu-poptip-inner {
  border-radius: 0.5em;
  background-color: rgb(245, 245, 245);
}

.ivu-poptip-body {
  padding: 8px 16px;
}

.ivu-poptip-body-content {
  overflow: hidden;
}

.vtuber-pc-right {
  position: relative;
  display: flex;
  width: 60%;
  z-index: 1;
  height: calc(100vh - 260px);
}

.vtuber-right-tab-frame {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  width: 100%;
  padding: 15px 10px 0px 15px;
  height: 100%;
  overflow: hidden;
}

.song-list-table-frame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  font-size: 14px;
  padding: 0 10px;
  border-radius: .6rem;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.song-list-table-frame div {
  display: flex;
  align-items: center;
}

.button-pc-animate {
  display: flex;
  height: 36px;
  width: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  transition: color .2s, background-color .2s, transform .2s;
  cursor: pointer;
}

.song-sheet-like {
  margin: auto 6px;
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.song-sheet-like {
  color: #f77850;
}

.vtuber-pc-bac {
  height: calc(100vh - 220px);
  min-height: 100vh;
  padding: 120px 0px 100px;
  position: relative;
  font-size: 16px;
  display: flex;
  width: 100%;
  z-index: 1;
}

.icon-youtube:hover {
  color: red
}


/* BACK */

.button-pc-animate {
  display: flex;
  height: 36px;
  width: 36px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  transition: color .2s, background-color .2s, transform .2s;
  cursor: pointer;
}

.layout-back {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}

.button-pc-animate .fa-chevron-left {
  font-size: 30px;
  padding-left: 40px;
  /* font-weight: 500; */
  color: white;
}

.video-list {
  border-radius: 5px;
  height: 640px;
  overflow-y: scroll;
}

.video-list::-webkit-scrollbar {
  width: 7px;
}

.video-list::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 50px;
}

.video-list::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 50px;
}

.video-list .vid img {
  width: 120px;
  border-radius: 5px;
  height: 80px;
}

.video-list .vid {
  display: flex;
  /* align-items: center; */
  gap: 15px;
  background: #f7f7f7;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .1);
  cursor: pointer;
}

.video-list .vid:hover {
  background: #eee;
}

.video-list .vid.active {
  background: #2980b9;
}

.video-list .vid.active .title {
  color: #fff;
}

.video-list .vid .title {
  color: #333;
  font-size: 17px;
  line-height: 24px;
}

.info-text {
  padding: 10px;
}

.info-text {
  color: white;
}

@media (max-width:768px) {
  .vtuber-pc-bac .vtuber-pc-left {
    width: 100%;
  }
  .vtuber-pc-right {
    width: 100%;
  }
  .vtuber-pc-bac {
    display: inline;
  }
  .vtuber-pc-pic {
    width: 375px;
    height: 375px;
  }
}

a:hover {
  color: inherit;
}