*,
.row,
.col {
  margin: 0;
  padding: 0;
}

*,
 :after,
 :before {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: black;
  font-size: 16px;
}

h2 {
  font-family: 'Mochiy Pop One', sans-serif;
}

p {
  margin: 0;
}

ul.notification_ul {
  padding: 0 10px;
  margin: 0;
}

.swiper-slide-vtube a:hover {
  color: inherit;
}

.menu-2-bg {
  background-image: url('images/c1bg_1.jpg');
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -1;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  /* filter: blur(3px); */
}

.header {
  line-height: 50px;
  height: 50px;
  width: 100%;
  row-gap: 1rem;
  position: absolute;
  z-index: 99;
}

.header-container {
  padding: 16px 16px;
  display: flex;
  justify-content: space-between;
  /* background-color: 0; */
}

.header-active .header-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px 16px;
  width: 100%;
  background-color: rgba(147, 146, 146, .5);
  box-shadow: 0 0 3px rgb(0 0 0 / 20%);
}

.header-active .header-container:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(147, 146, 146, .5);
  filter: blur(2px);
  z-index: -1;
}

.header-active .header-center {
  margin: 3px auto;
}

.header-left {
  display: flex;
  width: 280px;
  justify-self: flex-start;
}

.header-left img {
  height: 50px;
  margin-top: 3px;
}

.header-active .header-left img {
  margin-top: 10px;
}

.header-center {
  height: 50px;
  line-height: 40px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  color: #fff;
}

.header-nav {
  display: inline-flex;
}

.header-nav a {
  color: white;
  font-size: 1rem;
  position: relative;
  margin: 0 1px;
  padding: 0 1rem;
  border: 0;
  transition: transform .1s, background-color .1s;
  border-radius: 15px;
  text-decoration: none;
  font-family: 'Mochiy Pop One', sans-serif;
  /* background-color: turquoise; */
}

.header-nav a:hover {
  background-color: #35353530
}

.link-active {
  color: #f77850!important;
}

.link-active:after {
  display: flex;
  transition: all .3s;
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 80%;
  /*長*/
  height: 2px;
  background: linear-gradient(90deg, #ff4f16, #f77850);
}

.header-right {
  display: inline-flex;
  justify-content: space-between;
  width: 360px;
}

.select-box {
  display: flex;
  align-items: center;
}

.select-box-input {
  position: relative;
}

.search-input {
  display: inline-block;
  height: 30px;
  line-height: 32px;
  padding: 0 15px;
  font-size: 13px;
  border: 0;
  border-radius: 1rem!important;
  color: #fff;
  outline: 0;
  transition: width .5s, background-color .2s;
  width: 180px;
  background-color: rgba(147, 146, 146, .5);
}

.seach-icon {
  position: relative;
  top: 0;
  left: -25px;
  color: white;
}

.language-ball {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  transition: background-color .2s;
  background-color: rgba(147, 146, 146, .5);
  color: white;
}

.language-ball:hover {
  background-color: white;
  color: tomato;
}

.user-unlogged-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  background-color: rgba(147, 146, 146, .5);
  color: #000;
  transition: background-color .2s, color .2s;
  border-radius: 100%;
  margin: 0 10px;
  color: white;
}

.user-unlogged-wrap:hover {
  background-color: white;
  color: tomato;
}

.user-control-wrap {
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
}

@media (max-width:992px) {
  .header-center {
    display: none;
  }
  .select-box {
    display: none;
  }
  .header-left img {
    height: 50px;
    /* margin-top: 10px; */
  }
}

.main-body {
  position: absolute;
  width: 100%;
  /* height: 100vh; */
  padding: 0 7%;
  background-color: rgba(105, 90, 90, .26);
  /*變暗*/
}

.home_bac {
  padding: 120px 0 100px;
  min-height: 100vh;
}

.home-new {
  margin: 0 auto;
  width: 100%;
  position: relative;
  display: flex;
}

.home-left {
  /* width: 76%; */
  height: 100%;
}

.home-right {
  /* position: absolute; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* width: 21%; */
  /* top: 0; */
  right: 0;
  height: 1640px;
  padding-left: 50px;
  overflow-y: scroll;
}

.home-right::-webkit-scrollbar {
  width: 0;
}

.banner {
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

h2:not(.swal2-title) {
  padding-left: 16px;
  margin-bottom: 8px;
  position: relative;
  font-size: 18px;
  color: #fff;
}

h2:not(.swal2-title):before {
  content: "";
  width: 4px;
  height: 1.5rem;
  line-height: 2rem;
  border-radius: 2px 2px;
  background: #f77850;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.carousel {
  margin: 0 auto;
  width: 100%;
  height: auto;
  user-select: none;
}

.carousel .imageSlider {
  position: relative;
  /* width: 800px; */
  height: 550px;
  /* height: 100vh; */
  overflow: hidden;
  border-radius: 25px;
}

.carousel .imageSlider>img.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.carousel .imageSlider>img.image.selected {
  opacity: 1;
}

.carousel .controls {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /* height: 100vh; */
  line-height: 550px;
}

.carousel .controls .leftArrow,
.carousel .controls .rightArrow {
  width: 70px;
  color: #ddd;
  font-size: 3rem;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  opacity: 0;
  transition: opacity 300ms ease-in-out, color 300ms ease-in-out;
}

.carousel .controls .leftArrow:hover,
.carousel .controls .rightArrow:hover {
  color: #fff;
}

.carousel .controls .leftArrow {
  float: left;
  padding-left: 1rem;
  text-align: left;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 100%);
}

.carousel .controls .rightArrow {
  float: right;
  padding-right: 1rem;
  text-align: right;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 100%);
}

.carousel .controls:hover .leftArrow,
.carousel .controls:hover .rightArrow {
  opacity: 1;
}

.carousel .progressBar {
  width: 95%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  position: absolute;
  left: 24px;
}

.carousel .progressFill {
  width: 0%;
  height: 100%;
  background-color: #fff;
}

.carousel .indicatorRow {
  margin: 0.25rem auto;
  text-align: center;
}

.carousel .indicatorRow .indicator {
  display: inline-block;
  margin: 0 8px;
  width: 40px;
  height: 5px;
  background-color: #aaa;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: color 500ms ease;
}

.carousel .indicatorRow .indicator:hover {
  background-color: #ccc;
}

.carousel .indicatorRow .indicator.selected {
  background-color: #fff;
}

.banners {
  height: 60px;
  width: 100%;
  color: #fff;
  transform: translateY(-92px);
  /* background: linear-gradient(transparent, rgba(0, 0, 0, .55)); */
  transition: transform .2s;
  position: absolute;
  line-height: 24px;
  font-size: 24px;
  font-weight: bolder;
  padding: 1rem 1rem;
  /* border-radius: 30px; */
}

.panel {
  margin-top: 3.5vh;
  color: white;
}

.panel-header {
  display: flex;
  justify-content: space-between;
}


/*隱藏 < > */

.button-disabled {
  color: #aaa;
  cursor: not-allowed;
}

.custom-swiper-button {
  transition: color .2s, transform .1s;
  padding-left: 1rem;
  outline: none;
  cursor: pointer;
}

.panel-body {
  display: flex;
  width: 100%;
  margin-bottom: .75rem;
  overflow: hidden;
}

.swiper-wrap {
  width: 100%;
  position: relative;
  display: flex;
}

.swiper-slide {
  margin-right: 12px;
}

.swiper-slide .card-frame {
  height: 9vw;
  min-height: 16.4vh;
  border-radius: 1rem;
}

.loading-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: hsla(0, 0%, 100%, .3);
}

.loading-frame img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-color: white;
}

.card-frame {
  width: 100%;
  margin: 7px auto .8vh auto;
  overflow: hidden;
  transition: transform .1s, box-shadow .1s;
}


/* .card-frame:hover {
    transform: translateY(-3%) scale(1.01);
} */

.card-frame:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
  transform: translateY(-5px);
}

.card-frame:hover .card-frame-hover {
  background-color: rgba(0, 0, 0, .4);
  transform: translateY(-100%) scale(1.01);
}

.card-frame .card-frame-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transition: background-color .2s;
}

.card-frame:hover .card-frame-hover {
  background-color: rgba(0, 0, 0, .4);
  transform: translateY(-100%) scale(1.01);
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 6px;
}

.card-info p {
  font-weight: bolder;
  color: #f2f2f2;
  font-size: 14px;
  overflow: hidden;
}

.role-name p {
  font-size: 14px;
  color: #b6b6b6;
}

.ivu-col .controls,
.ivu-col .controls2 {
  float: left;
}

.ivu-col .controls ul,
.ivu-col .controls2 ul {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.ivu-col .controls ul li,
.ivu-col .controls2 ul li {
  height: 25px;
  width: 25px;
  border: 1px solid #c3c3c3;
  margin: 1px;
  display: inline-block;
  line-height: 23px;
  cursor: pointer;
}

.ivu-col .controls ul li.active,
.ivu-col .controls2 ul li.active {
  background-color: green;
  color: #ffffff;
}

.vtuber {
  height: 8vw;
  width: 8vw;
  border-radius: 20vh;
}

.swiper-slide-vtube {
  margin-right: 32px;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.vtuber .loading-frame img {
  width: 150px;
  background-color: white;
  object-position: center top;
  width: 100%;
  height: 100%;
}

.card-info-v {
  justify-content: center!important;
}

.more {
  opacity: .5;
}

.more:hover {
  opacity: 1;
}

.panel-header .more h3 {
  display: inline;
  font-weight: 400;
  font-size: 16px;
}

.swiper-slide .songList {
  height: 10vw;
  min-height: 18vh;
  border-radius: 1rem;
}

.swiper-container {
  display: flex;
}

.home-right .home-hot-scroll .home-hot-frame:first-child {
  margin-top: 10px;
}

.home-right .home-hot-info {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 6px;
  line-height: 20px;
  font-size: 14px;
  color: #fff;
}

.home-right .home-hot-scroll {
  width: 100%;
  padding: 0 6px;
  margin: 0 -6px;
}

.home-right .home-hot-scroll .home-hot-frame {
  height: 18.2vh;
  min-height: 9.5vw;
  width: 100%;
  margin-top: 1vw;
  border-radius: 1rem;
  overflow: hidden;
  transition: transform .1s;
}

.home-right .home-hot-scroll .home-hot-frame .home-hot-title {
  transform: translateY(-100%) scale(1.01);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition: background-color .2s;
  color: #fff;
}

.home-right .home-hot-scroll .home-hot-frame .home-hot-title .home-hot-play {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto auto auto;
  height: 100%;
  width: 100%;
}

.home-right .home-hot-scroll .home-hot-frame .home-hot-title .home-hot-play i {
  opacity: 0;
  transform: translateY(.8rem);
  font-size: 22px;
}

.home-right .home-hot-scroll .home-hot-frame:hover .home-hot-title i {
  opacity: 1;
}

.home-right .home-hot-scroll .home-hot-frame:hover .home-hot-title {
  background-color: rgba(0, 0, 0, .4);
}

.home-right .home-hot-scroll .home-hot-frame:hover {
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
}

.home-right .home-hot-scroll .home-hot-frame .home-hot-title .home-hot-section {
  width: 100%;
  background-image: linear-gradient(transparent, rgba(41, 41, 41, .5));
}

.home-right .home-hot-scroll .home-hot-frame .home-hot-title .home-hot-section p {
  font-size: .8rem;
  line-height: 16px;
  font-weight: bolder;
  padding: 0 .8rem 0rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


/*Vtuber*/

.vtuber-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.group-display {
  margin: 30px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 165px;
}

.group-display .group-icon {
  width: 128px;
  height: 128px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  -o-object-fit: contain;
  object-fit: contain;
  transition: all .3s;
  cursor: pointer;
}

.group-display .group-icon-active {
  width: 165px;
  height: 165px;
}

.group-name-span {
  margin-top: 10px;
  cursor: pointer;
  color: #fff;
}

.collapse-wrap {
  margin-bottom: 5px;
  text-align: center;
}

.group-detail-display {
  background-color: hsla(0, 0%, 100%, .4);
  border-radius: 1rem;
  width: 100%;
  overflow: hidden;
  display: none;
}

.vtuber-display {
  display: inline-block;
  text-align: center;
  margin: 20px 0 20px 0;
  width: 130px;
}

.vtuber-img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
}

.vtuber-img:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
  transform: translateY(-5px);
}

.vtuber-display .vtuber-name-span {
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  font-size: 14px;
}

.vtuber-display .vtuber-name-span:hover {
  color: blue;
}

@media (max-width:768px) {
  .home-right {
    padding: 0px;
  }
  .home-left {
    padding: 0;
  }
  .card-frame.vtuber {
    height: 20vw;
    width: 20vw;
  }
}


/*Video more*/

.ivu-row {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  height: auto;
  zoom: 1;
  display: block;
}

.ivu-btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: right;
}

.ivu-btn-group-small>.ivu-btn {
  padding: 1px 7px 2px;
  font-size: 14px;
  border-radius: 3px;
}

.ivu-btn-group-circle .ivu-btn {
  border-radius: 32px;
  border: none;
}

.ivu-btn-group:not(.ivu-btn-group-vertical)>.ivu-btn:first-child:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.ivu-btn-group:not(.ivu-btn-group-vertical)>.ivu-btn:first-child {
  margin-left: 0;
}

.ivu-btn-group-small.ivu-btn-group-circle .ivu-btn {
  border-radius: 24px;
}

.ivu-btn>span {
  vertical-align: middle;
}

.ivu-btn-group:not(.ivu-btn-group-vertical)>.ivu-btn:last-child:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.ivu-btn-group .ivu-btn+.ivu-btn {
  margin-left: -2px;
}

.ivu-col-span-6 {
  display: block;
  padding: 10px;
  color: white;
}

.song-list-card {
  height: 10vw !important;
  min-height: 18vh !important;
  border-radius: 1rem;
}

.swiper-slide {
  flex-shrink: 0;
  /* width: 100%; */
  height: 100%;
  position: relative;
  transition-property: transform;
}

.allplaylist {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width:992px) {
  .allplaylist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .max992 {
    display: none !important;
  }
  .header-right {
    width: inherit
  }
}

@media (max-width:768px) {
  .allplaylist {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.user-icon {
  display: flex;
}

.user-icon img {
  width: 30px;
  height: 30px;
  border-radius: 40px;
  z-index: 5;
  text-align: center;
}

.user-logged-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrap {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  transition: background-color .2s;
  background-color: rgba(147, 146, 146, .5);
  color: white;
}


/*Notice*/

.profile_dd .username {
  padding: 0 15px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile_dd,
.notification_dd {
  position: absolute;
  top: 74px;
  right: 45px;
  background: #fff;
  /* border: 1px solid #c7d8e2; */
  width: 350px;
  height: auto;
  display: none;
  border-radius: 10px;
  box-shadow: 10px 10px 35px rgba(0, 0, 0, 0.125), -10px -10px 35px rgba(0, 0, 0, 0.125);
}

.notification_dd {
  display: none;
}

.profile_dd:before,
.notification_dd:before {
  content: "";
  position: absolute;
  top: -20px;
  right: 15px;
  border: 10px solid;
  border-color: transparent transparent #fff transparent;
}

.notification_dd li {
  border-bottom: 1px solid #f1f2f4;
  display: flex;
  align-items: center;
}

.notification_dd li .notify_icon {
  display: flex;
}

.notification_dd li .notify_icon .icon {
  display: inline-block;
  background: url('https://dmhg.me/uc_server/avatar.php?uid=1&size=small') no-repeat 0 0;
  width: 40px;
  height: 42px;
  border-radius: 45px;
}

.notification_dd li .notify_data {
  line-height: initial;
  margin: 0 15px;
  width: 185px;
}

.notification_dd li .notify_data .title {
  color: #000;
  font-weight: 600;
}

.notification_dd li .notify_data .sub_title {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  color: #777;
  margin-top: 2px;
}

.notification_dd li .notify_status p {
  font-size: 12px;
}

.notification_dd li.success .notify_status p {
  color: #47da89;
}

.notification_dd li.failed .notify_status p {
  color: #fb0001;
}

.notification_dd li.show_all {
  display: flex;
  justify-content: center;
}

.notification_dd li.show_all p {
  font-weight: 700;
  color: #3b80f9;
  cursor: pointer;
}

.notification_dd li.show_all p:hover {
  text-decoration: underline;
}

.user-logged-wrap.active .profile_dd,
.ivu-poptip.active .notification_dd {
  display: block;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
  display: none;
  z-index: 5
}

.popup .shadow {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
}

.popup .inner_popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.popup .notification_dd {
  display: block;
  position: static;
  margin: 0 auto;
  height: 357px;
  overflow: auto;
}

.popup .notification_dd:before {
  display: none;
}

.popup .notification_dd li.title {
  font-weight: 700;
  color: #3b80f9;
  display: flex;
  justify-content: center;
  position: relative;
  height: 40px;
}

.popup .notification_dd li.title .close {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.popup .notification_dd li.title .close:hover {
  opacity: 0.5;
}

.user-control-wrap .profile_dd {
  width: 200px;
  right: 80px;
}

.profile_ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

.user-control-wrap .profile_dd:before {
  right: 20px;
}

.user-control-wrap .profile_dd ul li {
  border-bottom: 1px solid #f1f2f4;
}

.user-control-wrap .profile_dd ul li a {
  display: block;
  position: relative;
}

.user-control-wrap .profile_dd ul li a .picon {
  display: inline-block;
  width: 30px;
}

.user-control-wrap .profile_dd ul li a:hover {
  color: #3b80f9;
  background: #f0f5ff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.user-control-wrap .profile_dd ul li.profile_li a:hover {
  background: transparent;
  cursor: default;
  color: #7f8db0;
}

.user-control-wrap .profile_dd ul li .btn {
  height: 32px;
  padding: 7px 10px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  background: #3b80f9;
  width: 125px;
  margin: 5px auto 15px;
}

.user-control-wrap .profile_dd ul li .btn:hover {
  background: #6593e4;
}

.experience {
  position: relative;
  margin: 0.5em 1em;
  max-width: 190px;
  height: 2em;
  background: #0c283b;
  border-radius: 5px;
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.5);
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 0 0.15em 0.15em rgba(0, 0, 0, 0.8);
}

.experience .bar {
  /* margin-left: calc(3em - 10px); */
  height: 100%;
  width: 50%;
  background: linear-gradient(0deg, #0095ff, #5cbbff);
  border-radius: 5px;
}

.experience .points {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}

.experience .level {
  position: absolute;
  height: 1.8em;
  width: 1.8em;
  top: -0.1em;
  left: -0.5em;
  background: linear-gradient(45deg, #0095ff, #5cbbff);
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  border-radius: 8px;
}

.video_new_title {
  color: black!important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.swiper-slide a:hover {
  color: inherit;
}

.card-info-title-p {
  color: #000 !important;
}