.inbox {
    display: flex;
    width: 100%;
    justify-content: center;
}

.box {
    display: -webkit-box;
    overflow: hidden;
    width: 60rem;
    height: 35rem;
    background-color: rgba(255, 255, 255, 60%);
    border-radius: 1.5rem;
    box-shadow: 0 0 1rem 0.2rem rgb(0 0 0 / 10%);
}

.box .left {
    position: relative;
    width: 35%;
    height: 100%;
    background-color: skyblue;
}

.box .left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(images/left.png);
    background-size: cover;
    opacity: 80%;
    /* z-index: 1; */
}

.box .right {
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: center;
}

.box .right h4 {
    color: rgb(144, 129, 241);
    font-size: 2rem;
    margin-top: 3rem;
}

.box .right form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box .right form .acc {
    outline: none;
    width: 80%;
    height: 2rem;
    font-size: 1.2rem;
    margin-top: 5rem;
    padding: 10px;
    border: none;
    border-bottom: 1px solid rgb(144, 129, 241);
    color: rgb(144, 129, 241);
    background-color: rgba(0, 0, 0, 0);
}

.right form .acc:focus {
    outline: none;
    color: rgb(144, 129, 241);
}

.right .submit {
    width: 50%;
    height: 4rem;
    color: #f6f6f6;
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    font-size: 1.4rem;
    border: none;
    border-radius: 0.5rem;
    margin: 3rem 0 0 50%;
    transform: translateX(-50%);
}

.right .submit:hover {
    box-shadow: 0 0 2rem -0.5rem rgb(0 0 0 / 15%);
}

.right .fn {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 70%;
}

.right .fn a {
    font-size: 1rem;
    margin-top: 4rem;
    padding: 10px;
    color: #666;
}

.right .fn a:hover {
    color: rgb(144, 129, 241);
}


/*來源*/


/* https://space.bilibili.com/108279272 */

.msg-box {
    position: relative;
    top: 25px;
    color: red;
}

.registers form .acc {
    margin-top: 2rem !important;
}

.sign {
    display: block;
    position: relative;
    width: 65%;
}

.box .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.show-registers .right.registers {
    animation: moveup 2s forwards 1s ease-in-out;
}

.show-registers .right.logins {
    animation: moveup 2s forwards ease-in-out;
}

@keyframes moveup {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, -100%);
    }
}

.show-login .right.logins {
    transform: translate(0, -100%);
    animation: moveup2 2s forwards 1s ease-in;
}

.show-login .right.registers {
    animation: moveup2 2s ease-in forwards;
}

@keyframes moveup2 {
    0% {
        transform: translate(0, -100%);
    }
    100% {
        transform: translate(0, 0);
    }
}