    .search-icon {
        position: relative;
        top: 0;
        left: -25px;
        color: white;
    }
    
    .main-body {
        position: absolute;
        width: 100%;
        /* height: 100vh; */
        padding: 0 7%;
        background-color: rgba(105, 90, 90, .26);
        /*變暗*/
        background: linear-gradient(rgba(255, 255, 255, 0), #f9f9f9 1080px, #f9f9f9 100%), rgba(255, 255, 255, .2)
    }
    
    .center {
        text-align: center;
    }
    
    .header-container {
        background-color: #77777750;
        max-height: 75px;
    }
    
    .clwp {
        margin: 30px auto;
        padding: 20px 0;
        background: url(http://dmhg.me/./template/acgi_c1/images/tmbg/white_20.png);
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, .15);
        box-shadow: 0 0 3px rgba(0, 0, 0, .15);
        display: grid;
    }
    
    .c1bdwp {
        margin: 0 20px;
    }
    
    #pt {
        margin: 0 5px 0 15px;
        height: 29px;
        border: none;
        background: transparent;
        line-height: 29px;
        display: flex;
        justify-content: space-between;
    }
    
    .nvhm {
        width: 18px;
        background: url(http://dmhg.me/./template/acgi_c1/images/common/home.png) no-repeat 0 0;
    }
    
    #pt .z em {
        background: none;
        line-height: inherit;
        text-align: center;
        margin: 0 3px;
        color: #777;
        width: 20px;
        font-style: normal;
    }
    
    a {
        cursor: pointer;
        text-decoration: none;
        outline: none;
        color: black;
        font-size: 16px;
    }
    
    #pt .z a,
    #pt .z em,
    #pt .z span {
        float: left;
        height: 29px;
    }
    
    .minihuiyuanfabu {
        padding-left: 19px;
        background: url(http://dmhg.me/source/plugin/xlwsq_video/images/fabu.png) no-repeat;
    }
    
    .minihuiyuanzhongxin {
        padding-left: 19px;
        background: url(http://dmhg.me/source/plugin/xlwsq_video/images/user.png) no-repeat;
    }
    
    .homemusic {
        width: 100%;
        margin: 20px auto;
        background-color: #FFFFFF90;
        display: flex;
        border-radius: 10px;
    }
    
    .musicmenu {
        padding: 10px 5px;
        width: 190px;
    }
    
    .music-list-card {
        height: 10vw !important;
        min-height: 18vh !important;
        border-radius: 1rem;
    }
    
    .fenxiangshipin {
        width: 100%;
        float: left;
        text-align: center;
        font-size: 20px;
        margin-bottom: 10px;
        background: #6699CC;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
    }
    
    .musicPlayList {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .singerPlayList {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .bgmPlayList {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .search input {
        width: 114px;
        height: 32px;
        line-height: 32px;
        border: 1px #e3e3e3 solid;
        padding-left: 30px;
        margin: 0 5px 0 0;
        float: left;
        background: #fff url(http://dmhg.me/source/plugin/xlwsq_video/images/search.gif) no-repeat 5px 5px;
        font-size: 12px;
    }
    
    .search button {
        border-radius: 5px;
        width: 50px;
        text-align: center;
        height: 32px;
        line-height: 32px;
        float: left;
        border: none;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        background: #6699CC;
        color: #fff;
    }
    
    .music_searchword p.on {
        border: 3px solid #6699CC;
    }
    
    .music_searchword p.on a {
        color: #6699CC;
    }
    
    .music_searchword p {
        height: 38px;
        padding: 0 10px;
        border-radius: 25px;
        display: flex;
        align-items: center;
        border: 1px solid #777;
        margin-bottom: 10px;
        justify-content: center;
    }
    
    .music_searchword p:hover a {
        color: #6699CC;
    }
    
    .music_searchword p a {
        color: #777;
    }
    
    .music_search .icon {
        background: url(//static.hdslb.com/images/base/icons.png) -83px -1492px no-repeat;
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    
    .music_search .title .name {
        font-size: 18px;
        line-height: 24px;
        color: #222;
    }
    
    .music_search {
        margin-bottom: 10px;
        display: inline-block;
        padding: 10px;
    }
    
    .music_body {
        padding: 5px;
    }
    
    .music_body h2 {
        color: black;
        margin-top: 5px;
        margin-left: 15px;
    }
    
    .music-title .card-info-title-p {
        color: black;
    }
    
    .music-info {
        display: flex;
    }
    
    .music-user-icon {
        width: 50px;
    }
    
    .music-title .music-user-name,
    .music-title .music-frequency {
        font-size: 12px;
        color: #777;
    }
    
    .music-user-icon img {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        z-index: 5;
        text-align: center;
    }
    
    .card-info {
        margin-top: 10px;
    }
    
    .music-user-name {
        margin-top: 3px;
    }
    
    table tr {
        border-bottom: 1px #e3e3e3 dashed;
        height: 32px;
        line-height: 32px;
    }
    
    .form-body {
        margin: 10px 20px;
        padding: 1.5em;
        width: 100%;
        background: #eaf5ff80;
        border-radius: 10px;
    }
    
    table {
        color: #666;
    }
    
    #url {
        color: lightskyblue;
    }
    
    textarea {
        resize: none;
    }
    
    .music-post-form {
        padding: 0 2em;
        font-size: 0.9em;
    }
    
    #up,
    #url {
        font-size: 13px;
    }
    
    p {
        margin: 0;
    }
    
    #exampleDataList {
        display: inline;
        width: 106px;
        font-size: 14px;
    }
    
    #companyList,
    #periodList {
        display: inline;
        width: 150px;
        font-size: 14px;
    }
    
    #formFileMultiple {
        display: inline;
        width: 304px;
    }
    
    .font-border {
        font-weight: bolder;
    }
    
    .musicSearchButton {
        text-align: center;
    }
    
    .ct_list * {
        font-size: 1em;
    }

    .card-frame:hover {
        cursor: pointer;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
        transform: translateY(-5px);
    }
    
    .card-frame:hover .card-frame-hover {
        background-color: rgba(0, 0, 0, .4);
        transform: translateY(-100%) scale(1.01);
    }
    
    .card-frame .card-frame-hover {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        transition: background-color .2s;
    }
    
    .card-frame:hover .card-frame-hover {
        background-color: rgba(0, 0, 0, .4);
        transform: translateY(-100%) scale(1.01);
    }

    .singer-name{
        font-size: 2em;
        color: blue;
        font-weight: bolder;
    }