.display-flex {
    display: flex;
}

.singer-share-container{
    justify-content: center;
    flex-wrap: wrap;
}

.half-side{
    display: flex;
    justify-content: center;
    width:40%;
    padding-top: 5em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: rgba(128, 128, 128, 0.3);
}

.top-line{
display: flex;
justify-content: center;
}

.singer-details {
    flex-direction: column;
}

.singer-details * {
    margin:0.5em;
}

.outside-singer-photo {
    width: 25em;
    display: flex;
    justify-content: center;
}

.singer-share-photo {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.singer-name{
    text-align: center;
    font-size: 4em;
    font-weight: bolder;
}

.singer{
    font-size: 2em;
    font-weight: bolder;
}

.singer-share-file {
    width: 25em;
}

audio:hover,
audio:focus,
audio:active {
    -webkit-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

audio {
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0px #006773;
    -webkit-box-shadow: 2px 2px 4px 0px #006773;
    box-shadow: 2px 2px 4px 0px #006773;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
}

.singer-share-content {
    background-color:orange 
}


.interaction{
    margin: 1.5em 0;
}

.space {
    display: inline-block;
    margin: 0 0.3em;
  }
  

button{
    background-color: rgb(81, 247, 233);
    font-weight: bolder;
    width: 5em;
}

.media-area{
    position: absolute;
    right:0;
    bottom: -1.5em;
}

.updated-time{
    background-color: rgba(255, 255, 255, 0.363);
    position: absolute;
    left:0;
    bottom:-1.5em;
}

.user-details{
    margin:2em, 1em;
}

.user-icon {
    border-radius: 50%;
}

.user-icon img {
    max-width: 100%;
    max-height: 100%;
}

.username {
    padding: 10px 0px;
}

.comment-list{
  padding-left:0px;  
}

.comment-detail {
    position: relative;
    padding: 10px;
    background-color: white;
}

.comment-details {
    width: 18em;
    position: relative;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.363);
}

.commentInfo{
    display:none;
}

.comment-text-inside{
    width:100%;
}

li.comments{
    margin-bottom: 2em;
    list-style:none;
    margin-left: 0px;
}

.one-comment{
    margin: 2em 1em;
    justify-content: space-around;
}

.bg-red{
    background-color: red;
}


.username{
    font-weight: bolder;
    font-size:1.5em;
}

.singer-music-name{
    font-size: 2em;
    font-weight: bolder;
    color: black;
}