.page {
    margin-top: 50px;
}


ul {
    list-style: none;
    padding: 0;
  }
  ul:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .pagination-item {
    float: left;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    color: #19bdc5;
    border: 2px solid #19bdc5;
    border-radius: 50%;
    font-size: 16px;
    font-family: "lato", "Helvetica Neue", Helvetica, arial, sans-serif;
    font-weight: 700;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
  }
  .pagination-item.active, .pagination-item:hover {
    color: #fff;
    background-color: #19bdc5;
  }
  
  .pagination-string {
    float: right;
    width: auto;
    height: auto;
    border: 0 none;
    text-transform: uppercase;
    font-family: "lato", "Helvetica Neue", Helvetica, arial, sans-serif;
    font-weight: 700;
    background-color: transparent;
    color: #19bdc5;
  }
  .pagination-string:hover {
    color: #00676d;
    background-color: transparent;
  }
  
  .pagination-item-disabled {
    position: relative;
    top: 2px;
    border: 0 none;
    cursor: default;
    color: #19bdc5;
    background-color: transparent;
    font-family: "lato", "Helvetica Neue", Helvetica, arial, sans-serif;
    font-weight: 400;
  }
  .pagination-item-disabled.active, .pagination-item-disabled:hover {
    color: #19bdc5;
    background-color: transparent;
  }