.main-body {
  background: linear-gradient(rgba(255, 255, 255, 0), #f9f9f9 1080px, #f9f9f9 100%), rgba(255, 255, 255, .2)
}

.header-container {
  background-color: #77777750;
  max-height: 75px;
}

.clwp {
  /* margin: 30px auto; */
  padding: 20px 0;
  background: url(http://dmhg.me/./template/acgi_c1/images/tmbg/white_20.png);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, .15);
  box-shadow: 0 0 3px rgba(0, 0, 0, .15);
  /* display: grid; */
}

.c1bdwp {
  margin: 0 20px;
}

#pt {
  margin: 0 5px 0 15px;
  height: 29px;
  border: none;
  background: transparent;
  line-height: 29px;
  display: flex;
  justify-content: space-between;
}

.nvhm {
  width: 18px;
  background: url(http://dmhg.me/./template/acgi_c1/images/common/home.png) no-repeat 0 0;
}

#pt .z em {
  background: none;
  line-height: inherit;
  text-align: center;
  margin: 0 3px;
  color: #777;
  width: 20px;
  font-style: normal;
}

#pt .z a,
#pt .z em,
#pt .z span {
  float: left;
  height: 29px;
}

.minihuiyuanfabu {
  padding-left: 19px;
  background: url(http://dmhg.me/source/plugin/xlwsq_video/images/fabu.png) no-repeat;
}

.minihuiyuanzhongxin {
  padding-left: 19px;
  background: url(http://dmhg.me/source/plugin/xlwsq_video/images/user.png) no-repeat;
}

.homevideo {
  width: 100%;
  margin: 20px auto;
  background-color: #FFFFFF90;
  display: flex;
  border-radius: 10px;
}

.videomenu {
  padding: 10px 5px;
  width: 190px;
}

.fenxiangshipin {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  background: #6699CC;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

.search input {
  width: 114px;
  height: 32px;
  line-height: 32px;
  border: 1px #e3e3e3 solid;
  padding-left: 30px;
  margin: 0 5px 0 0;
  float: left;
  background: #fff url(http://dmhg.me/source/plugin/xlwsq_video/images/search.gif) no-repeat 5px 5px;
  font-size: 12px;
}

.search button {
  border-radius: 5px;
  width: 50px;
  text-align: center;
  height: 32px;
  line-height: 32px;
  float: left;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background: #6699CC;
  color: #fff;
}

.v_searchword p.on {
  border: 3px solid #6699CC;
}

.v_searchword p.on a {
  color: #6699CC;
}

.v_searchword p {
  height: 38px;
  padding: 0 10px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  border: 1px solid #777;
  margin-bottom: 10px;
  justify-content: center;
}

.v_searchword p:hover a {
  color: #6699CC;
}

.v_searchword p a {
  color: #777;
}

.v_search .icon {
  background: url(//static.hdslb.com/images/base/icons.png) -83px -1492px no-repeat;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.v_search .title .name {
  font-size: 18px;
  line-height: 24px;
  color: #222;
}

.v_search {
  margin-bottom: 10px;
  display: block;
}

.video_body {
  padding: 5px;
}

.video_body h2 {
  color: black;
  margin-top: 5px;
  margin-left: 15px;
}

.video-title .card-info-title-p {
  color: black;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.video-info {
  display: flex;
}

.video-user-icon {
  width: 50px;
}

.video-title .video-user-name,
.video-title .video-frequency {
  font-size: 12px;
  color: #777;
}

.video-user-icon img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  z-index: 5;
  text-align: center;
}

.card-info {
  margin-top: 10px;
}

.video-user-name {
  margin-top: 3px;
}

table tr {
  border-bottom: 1px #e3e3e3 dashed;
  height: 32px;
  line-height: 32px;
}

.form-body {
  margin: 10px 20px;
  padding: 35px 0px;
  width: 100%;
  background: #eaf5ff80;
  border-radius: 10px;
}

table {
  color: #666;
}

textarea {
  resize: none;
}

.post-form {
  padding: 0 50px;
  font-size: 15px;
}

.uploadphoto,
.urlphoto,
.uploadGroupPhoto,
.urlGroupPhoto {
  font-size: 13px;
}

.urlphoto.active,
.uploadphoto.active,
.uploadGroupPhoto.active,
.urlGroupPhoto.active {
  font-weight: bold;
  color: #6699CC;
}

.upload-file,
.upload-url,
.upload-group-file,
.upload-group-url {
  display: none;
}

.upload-file.active,
.upload-url.active,
.upload-group-file.active,
.upload-group-url.active {
  display: inline;
}

.pic-input-container {
  height: 1em;
}

#exampleDataList {
  display: inline;
  width: 106px;
  font-size: 14px;
}

#formFileMultiple {
  /* display: inline; */
  width: 304px;
}

.videoTitle {
  display: inline;
  width: 106px;
  font-size: 14px;
}

.ivu-col a:hover {
  color: inherit;
}