iframe {
  /* pointer-events: none; */
  width: 100%;
  height: 70vh;
}

.video-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;
  align-items: flex-start;
  /* padding: 5px 5%; */
}

.video-container .main-video {
  background: #fff;
  border-radius: 5px;
  padding: 10px;
}

.video-container .main-video video {
  width: 100%;
  border-radius: 5px;
}

.video-container .main-video .title {
  color: #333;
  font-size: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.video-container .video-list {
  background: #fff;
  border-radius: 5px;
  height: 800px;
  overflow-y: scroll;
}

.video-container .video-list::-webkit-scrollbar {
  width: 7px;
}

.video-container .video-list::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 50px;
}

.video-container .video-list::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 50px;
}

.video-container .video-list .vid img {
  width: 120px;
  border-radius: 5px;
  height: 80px;
}

.video-container .video-list .vid {
  display: flex;
  /* align-items: center; */
  gap: 15px;
  background: #f7f7f7;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .1);
  cursor: pointer;
}

.video-container .video-list .vid:hover {
  background: #eee;
}

.video-container .video-list .vid.active {
  background: #2980b9;
}

.video-container .video-list .vid.active .title2 {
  color: #fff;
}

.video-container .video-list .vid .title2 {
  color: #333;
  font-size: 15px;
  line-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@media (max-width:991px) {
  .video-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}

.info-render {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 24px;
  padding-bottom: 16px;
}

.info-text {
  display: flex;
  font-size: 14px;
}

.tab-div {
  display: flex;
}

.tab-pane {
  padding: 0 10px;
}

.info-count {
  margin-right: 10px;
}

.video-title {
  margin-left: 10px;
}

.video-title .video-user-name {
  font-size: 16px;
  color: black;
}

.card-info {
  margin-bottom: 12px;
}

.info-contents {
  margin-left: 64px;
}

.tags {
  margin-left: 64px;
  margin-top: 30px;
}

.key {
  margin-left: 64px;
  margin-top: 5px;
}

.contents {
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  margin-bottom: 24px;
  padding-bottom: 16px;
  min-height: 150px;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  width: 100%;
}

.input-box {
  display: flex;
}

.input-message {
  width: 100%;
  margin-left: 10px;
}

.button-message {
  justify-content: end;
  display: flex;
  margin-top: 10px;
  margin-bottom: 24px;
}

.btn-secondary {
  background-color: rgba(0, 0, 0, 0.05);
  color: #909090;
  border: none;
}

.output-box {
  display: flex;
}

.output-message {
  line-height: 30px;
  width: 100%;
  margin-left: 10px;
}

.output-username {
  font-size: 15px;
}

.info-date {
  margin-left: 20px;
  font-size: 14px;
  display: flex;
}

.date {
  display: flex;
}

.button-pc-animate .fa-chevron-left {
  font-size: 30px;
  padding-left: 40px;
  /* font-weight: 500; */
  color: white;
}

.trash-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}